#principal {
    position: relative;
    max-width: 100%;
    width: 300px;
    padding: 10px;
    margin: auto auto;
    border: 1px solid #c3c3c3;
    border-radius: 15px;
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    background-color: rgb(46, 44, 44);
}
#principal p {
    border: 1px solid #000;
    background-color: #fff;
    border-radius: 5px;
    width: 100%;
    height: 30px;
    vertical-align: middle;
    text-align: center;
}
#principal button{
    font-family: 'Orbitron', sans-serif;
    height: 30px;
    font-weight: bold;
}
.lft {
    width: 67%;
    display: inline-block;
}
.rgth {
    width: 33%;
    display: inline-block;
    position: absolute;
}
.lft button {
    width: 32%;
    margin: .5%;
}
.rgth button {
    width: 48%;
    margin: .95% .5%;
}